.contents{
    border-collapse:collapse ;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)   ;
    top:50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    
    
     
}
.contents thead tr{
    background-color:blueviolet  ;
    color:#fff;
    text-align: left;
    font-weight: bold;



}
.contents  th,
.contents td{
    padding: 12px 15px ;
     
}

.contents tbody tr{
    background-color: aliceblue;
    font-family:  Nunito Sans
    ;
     
}
.title{
    width: 70%;
    color:black;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50% ) ;
    text-align: center;
}

.title h1{
    font-size: 52px;
    font-family: aileron;
    color:aliceblue;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(30.jpg);
    height: 100vh ;
    background-size: cover;
    background-position: center ;
}
.contents tbody tr td a{
    text-decoration: none ;
    color: bold black;
    padding: 20px 35px;
    text-align: center;
    text-transform: uppercase ;
    letter-spacing: 1px;
 
    
    
    font-weight: 20px
}   
.contents tbody tr td a{
    color: #00a2ff;
    transition: 0.8s all;
}





